In [1]:
import sys; sys.path.append('../eikon_data_retrieval')
import pandas as pd
import os
from data_retrieval import dfs_list_from_dir, reconstruction

In [15]:
donwload_dir_path = r'Z:\Interés Departamental\Model Portfolio\Hugo\Ranking DIP European Equities\copia 12-04-2023\data\mass_download_vertical'
path_to_save = r"Z:\Interés Departamental\Model Portfolio\Laboratorio de Ideas\Python\datos Hugo"

In [3]:
os.listdir(donwload_dir_path)

['CompanyMarketCapitalization',
 'EV',
 'EVTOEBIT',
 'EVTOEBITDA',
 'EVTOOperatingCashFlow',
 'EVToSales',
 'HistPEG',
 'NetDebtToEBITDA',
 'NetDebtToEV',
 'NetDebtToEV_first_attempt',
 'PE',
 'PriceClose',
 'PriceToBVPerShare',
 'PriceToCFPerShare',
 'PriceToSalesPerShare',
 'PriceToTangBVPerShare',
 'TotalDebtToEBITDA',
 'TotalDebtToEV']

In [19]:
test_path = os.path.join(donwload_dir_path,'PriceToTangBVPerShare')

In [20]:
os.listdir(test_path)

['PriceToTangBVPerShare.csv', 'raw_data']

In [21]:
dfs_list = dfs_list_from_dir(test_path+'/raw_data')

In [27]:
concated_df = pd.concat(dfs_list) #concatenate dataframes into one

processed_df = concated_df.replace(['NaN',''], pd.NA) #replace NaN and empty strings with pandas NA
processed_df = processed_df.dropna(how='all', axis=1).dropna().drop_duplicates(subset=['Date','Instrument']) #drop rows with NA or duplicate values
processed_df['Date'] = processed_df.Date.apply(lambda x: x[:10])

In [36]:
concated_df

,Instrument,Price To Tangible Book Value Per Share (Daily Time Series Ratio),Date,Unnamed: 1,TR.PRICETOTANGBVPERSHARE,TR.PRICETOTANGBVPERSHARE.DATE
0,1COV.DE,NaN,NaN,NaN,NaN,NaN
1,1COV.DE,NaN,NaN,NaN,NaN,NaN
2,1COV.DE,NaN,NaN,NaN,NaN,NaN
3,1COV.DE,NaN,NaN,NaN,NaN,NaN
4,1COV.DE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
271,ZURN.S,3.967565,2022-08-31T00:00:00Z,NaN,NaN,NaN
272,ZURN.S,3.575811,2022-09-30T00:00:00Z,NaN,NaN,NaN
273,ZURN.S,3.812958,2022-10-31T00:00:00Z,NaN,NaN,NaN
274,ZURN.S,4.278145,2022-11-30T00:00:00Z,NaN,NaN,NaN
275,ZURN.S,4.274286,2022-12-30T00:00:00Z,NaN,NaN,NaN

In [43]:
tmp_dfs_list = [df for df in dfs_list if 'Unnamed: 1' not in df.columns]

In [44]:
len(tmp_dfs_list)

1824

In [45]:
len(dfs_list)

1825

In [46]:
test_df = reconstruction(tmp_dfs_list, start_date=(2000,1,1), end_date=(2023,1,1), desired_type_of_dates='monthly')

In [47]:
test_df

,1COV.DE,1U1.DE,A2.MI,A3M.MC,AAAA.L^C21,AAH.AS^D08,AAK.ST,AAL.L,AALB.AS,AB.L^G07,...,YAR.OL,YIT.HE,YSO.LS,ZALG.DE,ZEL.MC^K15,ZIGGO.AS^L14,ZO1G.DE^A22,ZODC.PA^C18,ZOT.MC^E22,ZURN.S
2000-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,0.816572,3.097871,5.142650,1.616942,NaN,NaN,3.982017,1.683235,6.000903,NaN,...,1.591695,1.151253,1.332090,3.332287,NaN,NaN,19.679668,NaN,NaN,3.967565
2022-09-30,0.800847,2.627382,4.592784,1.561267,NaN,NaN,3.588686,1.588736,5.542957,NaN,...,1.319053,1.013695,1.095023,2.917012,NaN,NaN,20.909647,NaN,NaN,3.575811
2022-10-31,0.917084,2.582850,5.154134,1.729476,NaN,NaN,3.411904,1.556920,5.774392,NaN,...,1.643717,0.884758,1.292911,3.364009,NaN,NaN,19.126177,NaN,NaN,3.812958
2022-11-30,1.016408,2.391195,5.866158,1.984160,NaN,NaN,3.677863,2.137926,6.171607,NaN,...,1.682479,0.930076,1.229050,4.713698,NaN,NaN,19.987163,NaN,NaN,4.278145
2022-12-31,0.973270,2.014369,5.661055,1.890578,NaN,NaN,3.768988,2.037540,5.946737,NaN,...,1.616799,0.857566,1.193314,5.247833,NaN,NaN,18.818683,NaN,NaN,4.274286

In [48]:
test_df.to_csv(path_to_save+'/PriceToTangBVPerShare.csv')

In [49]:
for indicator_name in os.listdir(donwload_dir_path):
    if indicator_name in ['TotalDebtToEBITDA', 'TotalDebtToEV']:
        raw_data_fp = os.path.join(donwload_dir_path,indicator_name,'raw_data')
        dfs_list = dfs_list_from_dir(raw_data_fp)
        df = reconstruction(dfs_list, start_date=(2000,1,1), end_date=(2023,1,1), desired_type_of_dates='monthly')
        df.to_csv(path_to_save+f'/{indicator_name}.csv')